<h2>Messages</h2>
<table>
	<tr>
		<td>
			<label>
				<input type="radio" [(ngModel)]="displayMode" value="All" (change)="onDisplayModeChange()"> All
			</label>
			<br/>
			<label>
				<input type="radio" [(ngModel)]="displayMode" value="Single" (change)="onDisplayModeChange()"> Single
			</label>
			<br/>
			<label>
				<input type="radio" [(ngModel)]="displayMode" value="Multiple" (change)="onDisplayModeChange()"> Multiple
			</label>
		</td>
		<ng-container *ngIf="displayMode !== 'All'">
			<td *ngFor="let show of showShip; let index=index">
				<ng-container *ngIf="displayMode == 'Single'">
		  			<input [attr.id]="'radio'+index" type="radio" [(ngModel)]="singleValue" value="{{show.shipSymbol}}">
					<label [attr.for]="'radio'+index"> {{show.shipSymbol ? show.shipSymbol : 'None'}}</label>
				</ng-container>
				<ng-container *ngIf="displayMode == 'Multiple'">
		  			<input [attr.id]="'check'+index" type="checkbox" [(ngModel)]="show.value">
					<label [attr.for]="'check'+index"> {{show.shipSymbol ? show.shipSymbol : 'None'}}</label>
				</ng-container>
			</td>
		</ng-container>
	</tr>
</table>
<button (click)="onClear()">Clear Messages</button>
<table>
	<tr>
		<th style="width:80px">Ship</th>
		<th style="width:95px">Location</th>
		<th style="width:100px">Time</th>
		<th>Message</th>
		<th>Credits</th>
	</tr>
	<tr *ngFor="let row of allMessages">
		<td *ngIf="showMessage(row)">{{row.shipSymbol.toLowerCase()}}</td>
		<td *ngIf="showMessage(row)">{{row.shipLocation.toLowerCase()}}</td>
		<td *ngIf="showMessage(row)">{{row.timestamp.toLocaleTimeString()}}</td>
		<td *ngIf="showMessage(row)">{{row.message}}</td>
		<td *ngIf="showMessage(row)">{{row.credits | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
	</tr>
</table>
