h2 {
	color: green;
}
table {
	color: green;
	border:3px solid green;
	border-collapse: collapse;
}
th {
	text-align: right;
	border:1px solid green;
	padding:3px;
	margin:3px;
}

td{
	border:1px solid green;
	padding:3px;
	margin:3px;
}

.selected-row {
  background-color: #f0f0f0;
}