<h2>Contracts</h2>
	<button (click)="update()" class="refresh-button"><img src="assets/refresh.png" height="16"/></button>
	<button (click)="onNegotiateContract()">Negotiate Contract</button>
<table>
	<tr>
		<th style="text-align: center; width: 150px">Contract ID</th>
		<th style="text-align: center; width: 700px">Details</th>
	</tr>
	<tr>
		<td style="vertical-align: top">
			Current Contract:
			<span *ngIf="activeContract" [ngClass]="{ 'selected-row': activeContract === selectedContract}"
					(click)="selectContract(activeContract)">{{activeContract.id }}
			</span>
			<br/>
			<input id="showHist" type="checkbox" [(ngModel)]="showHistory">
			<label for="showHist">Show History</label>
			<br/>
			<span *ngIf="showHistory">
				<span *ngFor="let contract of contracts" [ngClass]="{ 'selected-row': contract === selectedContract}"
						(click)="selectContract(contract)">{{contract?.id }}
				</span>
			</span>
		</td>
		<td [attr.rowspan]="contracts.length" class="selected-row">
			<app-contract [contract]="selectedContract" *ngIf="selectedContract"></app-contract>
		</td>
	</tr>
</table>
