<h1>{{waypoint?.type}} {{waypoint?.symbol}}</h1>
<div class="text-container">
	<div>
		<h2>Surveys</h2>
		<table>
			<tr>
				<th></th>
				<th>deposits</th>
				<th>size</th>
			</tr>
			<tr *ngFor="let survey of waypointSurveys" (click)="selectSurvey(survey)"
				[ngClass]="{ 'selected-survey': survey == selectedSurvey }">
				<td>
					<button (click)="onDeleteSurvey(survey)" title="delete survey">X</button>
					<app-countdown title="expires in"
						[startTimeStr]="surveyService.startTimeBySurvey.get(survey)"
						[endTimeStr]="survey.expiration"></app-countdown>
				</td>
				<td>{{ getDepositSymbols(survey)}}</td>
				<td>{{ survey.size}}</td>
			</tr>
		</table>
		<br />
	</div>
	<app-shiplist showMine="true" showSurvey="true" (onMineClicked)="onMine($event)"></app-shiplist>
	
</div>

