<h1>Jump Gate{{waypoint?.symbol}}</h1>
<div class="text-container">
<div>
<h2>Exports</h2>
<table>
	<tr>
		<td>
			<table *ngIf="jumpgate != null">
				<tr *ngFor="let waypointSymbol of jumpgate.connections">
					<td (click)="onWaypointClicked(waypointSymbol)"
					[ngClass]="{ 'selectedWaypoint': selectedSystem && waypointSymbol.startsWith(selectedSystem.symbol) }"
					>{{waypointSymbol}}</td>
					<td><button (click)="onJump(waypointSymbol)">Jump</button></td>
				</tr>
			</table>
		</td>
		<td>
			<app-galaxy-map></app-galaxy-map>
		</td>
	</tr>
</table>
</div>
<div>
	<div>
		Ships at jump gate:
		<app-shiplist></app-shiplist>
	</div>
</div>
</div>