<h1>Jump Gate{{waypoint?.symbol}}</h1>
<div class="text-container">
<div>
<h2>Exports</h2>
<table *ngIf="jumpgate != null">
	<tr *ngFor="let waypointSymbol of jumpgate.connections">
		<td>{{waypointSymbol}}</td>
		<td><button (click)="onJump(waypointSymbol)">Jump</button></td>
	</tr>
</table>
</div>
<div>
	<div>
		Ships at jump gate:
		<table *ngFor="let ship of shipsAtWaypoint"
			[ngClass]="{ 'selected-ship': ship == selectedShip }"
			(click)="onSelectShip(ship)">
			<tr>
				<th>{{ship.symbol}}</th>
			</tr>
		</table>
		
	</div>
</div>
</div>