th-right th{
	text-align: right;
}
th, td {
	border:1px solid black;
	padding:3px;
	margin:3px;
}

tr.centered-tds td {
	text-align: center;
}

.selected-row {
  background-color: #e0e0e0;
  color: black;
}
.nowrap {
	white-space: nowrap;
}

