td {
	padding: 0px
}
div {
	text-align: center;
	color: black; /*text color of the time within the countdown block*/
	font-weight: 800;
}
narrow {
	width: 50px;
}
normal {
	width: 50px;
}
wide {
	width: 60px;
}
x-wide {
	width: 75px;
}
.title{
	font-size:8px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: darkgray;
}
.red-background {
  background-color: red;
}

.green-background {
  background-color: green;
}