    
<table>
	<tr>
		<td style="width: 400px">
			<app-galaxy></app-galaxy>
			<button (click)="modalService.open('modal-leaderboard', null)">Leaderboard</button>
			<app-agent></app-agent>
			<app-contracts></app-contracts>
			<button (click)="modalService.open('modal-transaction', null)">Transactions</button>
			<app-diagnostics></app-diagnostics>
		</td>
		<td>
			<app-automation></app-automation>
			<app-fleet></app-fleet>
		</td>
	</tr>
</table>
<app-modal id="modal-leaderboard" >
    <app-leaderboard></app-leaderboard>
    <button (click)="modalService.close();">Leave</button>
</app-modal>

<app-modal id="modal-marketplace" >
    <app-marketplace></app-marketplace>
    <button (click)="modalService.close();">Leave</button>
</app-modal>

<app-modal id="modal-shipyard">
    <app-shipyard></app-shipyard>
    <button (click)="modalService.close();">Leave</button>
</app-modal>

<app-modal id="modal-jumpgate">
    <app-jumpgate></app-jumpgate>
    <button (click)="modalService.close();">Leave</button>
</app-modal>

<app-modal id="modal-mine">
    <app-mine></app-mine>
    <button (click)="modalService.close();">Leave</button>
</app-modal>

<app-modal id="modal-transaction">
    <app-transactions></app-transactions>
    <button (click)="modalService.close();">Leave</button>
</app-modal>
