<table *ngIf="waypoint">
	<tr>
		<td colspan="2">
			{{waypoint.type}}&nbsp;
			<app-waypoint-base [waypoint]="waypoint"></app-waypoint-base>&nbsp;
			[{{waypoint.x}}, {{waypoint.y}}]
		</td>
	</tr>
	<tr>
		<td>
			Orbits: <span class="link" *ngIf="waypoint.orbits" (click)="onClick(waypoint.orbits)">{{waypoint.orbits}} </span><br/>
			Orbitals:
			<ul>
				<li *ngFor="let orbital of waypoint.orbitals">
					<span class="link" (click)="onClick(orbital.symbol)" (dblclick)="onDoubleClick(orbital.symbol)">{{orbital.symbol}}</span>
				</li>
			</ul>
		</td>
		<td><b>Traits:</b>
			<ul>
				<li *ngFor="let trait of waypoint.traits"
					title="{{trait.description}}">{{trait.name}}</li>
			</ul>
			<button *ngIf="hasMarketplace()" (click)="modalService.open('modal-marketplace', waypoint)">Marketplace</button>
			<button *ngIf="hasShipyard()" (click)="modalService.open('modal-shipyard', waypoint)">Shipyard</button>
			<button *ngIf="isJumpGate()" (click)="modalService.open('modal-jumpgate', waypoint)">Jumpgate</button>
			<button *ngIf="isMineable()" (click)="modalService.open('modal-mine', waypoint)">Mine</button>
			<button *ngIf="isFactionHQ()" [attr.enabled]="getShipAtWaypoint() != null" (click)="onNegotiateContract()">Negotiate Contract</button>
			<button *ngIf="isUncharted()" [attr.enabled]="getShipAtWaypoint() != null" (click)="onCreateChart()">Create Chart</button>
		</td>
		<td *ngIf="waypoint.modifiers && waypoint.modifiers.length>0"><b>Modifiers:</b>
			<ul>
				<li *ngFor="let trait of waypoint.modifiers">{{trait}}</li>
			</ul>
		</td>
		<td *ngIf="waypoint.isUnderConstruction"><b>Under Construction!</b>
			<button (click)="onGetConstructionSite()">Get site</button>
			
			<table *ngIf="constructionSite">
				<tr *ngFor="let material of constructionSite.materials">
					<td>
						{{material.tradeSymbol.toLowerCase()}}
					</td>
					<td>
						({{material.fulfilled}}/{{material.required}})
					</td>
					<td>
						<button (click)="onSupplyConstructionMaterial(material)">Supply</button>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

