<h1>Shipyard {{shipyard?.symbol}}</h1>
<div class="text-container">
	<div>
		<h2>Ship Types:</h2>
		<div *ngIf="shipyard != null">
			<span *ngFor="let shipType of shipyard.shipTypes" class="ship-type">{{shipType.type}}</span>

			<h2>Transactions</h2>
			<table>
				<tr>
					<th>Waypoint Symbol</th>
					<th>Ship Symbol</th>
					<th>Price</th>
					<th>Agent Symbol</th>
					<th>Timestamp</th>
				</tr>
				<tr *ngFor="let transaction of shipyard.transactions">
					<td>{{ transaction.waypointSymbol}}</td>
					<td>{{ transaction.shipSymbol}}</td>
					<td>{{ transaction.price | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
					<td>{{ transaction.agentSymbol}}</td>
					<td>{{ transaction.timestamp}}</td>
				</tr>
			</table>

			<div *ngIf="shipyard.ships?.length">
				<h2>Ships:</h2>
				<table>
					<tr *ngFor="let ship of shipyard.ships">
						<th><button (click)="onPurchaseShip(ship)">Buy Ship
								{{ship.purchasePrice | currency : 'USD' : 'symbol' : '1.0-0'}}</button></th>
						<td><app-shipyard-ship [ship]="ship"></app-shipyard-ship></td>
					</tr>
				</table>
			</div>
			Modificaiton Fee:{{ shipyard.modificationsFee | currency : 'USD' : 'symbol' : '1.0-0'}}
		</div>
	</div>
	<div>
		<app-shiplist showMount="true"></app-shiplist>
	</div>
</div>
