
.selected-ship {
  background-color: darkslategray;
}
.selected-cargo {
  background-color: green;
}
.cargoItem {
	background-color: darkgreen;
}
.jettisonCargoSpot{
	background-color: darkred;
}
.sellCargoSpot{
	background-color: darkgoldenrod;
}
.emptyCargoSpot{
	background-color: #555555;
}
.cargoItem, .emptyCargoSpot, .jettisonCargoSpot, .sellCargoSpot {
	padding: 2px;
	border: 1px solid black;
	border-radius: 5px;
	white-space: nowrap;
	font-size: small;
	cursor: grab;
}
.shipname {
	font-weight: 800;
	font-size: large;
}
.shipframe {
	font-weight: 300;
	font-size: small;
}
