	<div>
		Credits: {{account?.credits | currency : 'USD' : 'symbol' : '1.0-0'}}<br/>
		Ships At Waypoint:
		<div cdkDropListGroup>
			<table *ngFor="let ship of shipsAtWaypoint"
				[ngClass]="{ 'selected-ship': ship == selectedShip }"
				(click)="onSelectShip(ship)">
				<tr>
					<td colspan="2">
						<span class="shipname">{{ship.symbol}}</span><br>
						<span class="shipframe">{{ship.frame.name.toLowerCase()}}</span>
					</td>
					<td>
						<app-countdown [title]="'Cooldown'" [cooldown]="ship.cooldown"></app-countdown>
					</td>
					<td>
						<div *ngIf="ship.nav.status === 'IN_TRANSIT'">
							<app-countdown title="arriving in"
								[startTimeStr]="ship.nav.route.departureTime"
								[endTimeStr]="ship.nav.route.arrival"></app-countdown>
						</div>
						<button *ngIf="ship.nav.status === 'DOCKED'" (click)="onOrbitShip(ship)">Orbit</button>
						<button *ngIf="ship.nav.status === 'IN_ORBIT'" (click)="onDockShip(ship)">Dock</button>
					</td>
				</tr>
				<tr>
					<td>
						<div *ngIf="showMount === 'true'">
							<div class="mount" *ngFor="let mount of ship!.mounts"
							     title="{{mount.description}}">{{ mount.name}}
								<button (click)="onRemoveMount(ship, mount)">Remove</button>
							</div>
						</div>
						<div cdkDropList class="draggable-list"
							(cdkDropListDropped)="onDrop($event)">
							<div cdkDrag [cdkDragData]="cargoItem" class="cargoItem"
								*ngFor="let cargoItem of ship!.cargo.inventory"
								title="{{cargoItem.description}}">
								{{cargoItem.name }} x{{cargoItem.units}}
								<button *ngIf="showMount === 'true' && cargoItem.symbol.startsWith('MOUNT_') && (ship.frame.mountingPoints > ship.mounts.length)"
								        (click)="onInstallMount(ship, cargoItem)">Install</button>
							</div>
							<div class='emptyCargoSpot'>Empty spaces
								x{{ship.cargo.capacity - ship.cargo.units}}</div>
						</div>
					</td>
					<td colspan="2">
						<button *ngIf="showSurvey == 'true' && canSurvey(ship)" (click)="onCreateSurvey(ship)">Survey</button> <br *ngIf="canSurvey(ship)" />
						<button *ngIf="showMine == 'true'" (click)="onMine(ship)">Mine</button>
					</td>
				</tr>
			</table>
			<br/>
			<div class="droppable-area sellCargoSpot" cdkDropList
			     *ngIf="showSell == 'true'" (cdkDropListDropped)="onDropSell($event)">
				<img src="assets/Sell.png"><span style="font-size: x-large">Sell</span>
			</div>
			<br/>
			<div class="droppable-area jettisonCargoSpot" cdkDropList
				(cdkDropListDropped)="onDropJettison($event)">
				<img src="assets/Trash.png"><span style="font-size: x-large">Jettison</span>
			</div>
		</div>
	</div>
